@import "src/theme/variables";
@import "src/theme/fonts";

.wrap {
  display: flex;
  flex-direction: column;
  width: max-content;
  align-items: center;
  gap: 10px;
  border: 1px solid $gray-500;
  padding: 10px;
  border-radius: 8px;

  &Title {
    @include heading-md;
    color: $blue-light;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &Btn {
    display: flex;
    gap: 10px;
  }

  &BtnItem {
    padding: 5px;
    @include text-md;
    background: $gray-500;
    border-radius: 5px;
    color: $white;
  }
}
