@import "src/theme/variables";
@import "src/theme/fonts";

.wrap {
  display: flex;
  justify-content: center;
  gap: 30px;
  @include heading-md;

  background: $gray-800;
  border-radius: 12px;

  padding: 15px;

  &Link {
    color: $gray-100;
  }

  &LinkActive {
    color: $blue-light;
  }
}
